<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Regression To Predict Grades</title>
</head>
<body>
    <h1> Linear Regression : Calculate Grade Depends On Study Hours</h1>
    <form method="post">
        <label for="hours">Study hours </label>
        <input type="number" name="hours" required>
        <button type="submit"> Predict</button>
    </form>
    {% if results is not none %}
    <h2>Estimated Grade: {{result}}</h2>
    {% endif %}
</body>
</html> 